<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgnhVf26JmcAOqbUb6b9RTFqErwHrxbKU</string>
	<key>GCM_SENDER_ID</key>
	<string>805831494806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emailApp</string>
	<key>PROJECT_ID</key>
	<string>attendence-8721a</string>
	<key>STORAGE_BUCKET</key>
	<string>attendence-8721a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805831494806:ios:4bf9a01f32f7a56c1ac6b7</string>
</dict>
</plist>